# Ignore Python virtual environments
.venv/
env/
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs and user-defined folders
xlogs/

# Raw Data folder
Raw Data/

# VS Code settings (optional)
.vscode/
examples.ipynb
